h1 {
    font-size: 200%;
    text-align: center;
    color: green;
    font-family: "Verdana";
    margin-bottom: 30px;
}
#map-container {
    text-align:center;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    width: 900px;
    height: 350px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}
#map {
    margin: 0 auto;
}
#input-container {
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    height: 175px;
    width: 700px;
    margin: 40px auto;
}
#optionContainer {
  text-align: center;
}
.optionButton {
  background-color: #b3d9ff;
  color: black;
  display: inline-block;
  padding: 30px 75px;
  margin: 20px;
  align: center;
  overflow: hidden;
  word-wrap:break-word;
}
#control-container {
    margin-top: 25px;
}
.control-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
#question-text {
    font-size: 125%;
    font-family: "Verdana";
    margin: -10px 0 25px 0;
}
img {
    border: 1px solid black;
}

/* Navbar Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #1e90ff;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
